{% extends 'index_2.html' %}

{% block title %}To-Do 
<a href='/logout'>Logout</a>
{% endblock title %}

{% block body %}
<form method='post' action='/app'>
  {% csrf_token %}
<div class="mb-3"><b>
    <label for="exampleFormControlTextarea1" class="form-label" style="color:Black;position:absolute;top:10%;left:46%;width: 100px;font-size:40px">Notes</label>
</b>
    <textarea class="title"  rows="1" style="color:Black;position:absolute;top:20%;left:15%;width:900px;border:2px solid Black; border-width:medium;font-size:30px" placeholder='Title' name='title'></textarea>

    <textarea class="form-control" id="exampleFormControlTextarea1" rows="12  " style="color:Black;position:absolute;top:35%;left:15%;width:900px;border:2px solid Black; border-width:medium" placeholder='Notes........' name='notes'></textarea>

    <div class="col-12">
      <button type="submit" class="btn btn-primary" style="margin-top:500px; margin-left:600px" href='/add_note'>Submit</button>
    </div>
  </div>
</form>
<a class="btn btn-primary" style="color:White;position:absolute;top:12%;left:90%;width: 100px;" href="/add_note">Back</a>
{% endblock body %}